.image_tools {
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.image_tools input {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.692);
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.image_tools button {
    border-left: 1px solid #000;
    border-right: none; 
    border-top: none; 
    border-bottom: none; 
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.692);
    outline: none;
    transition: .2s;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
}

.image_tools button:hover {
    background-color: #FDCE5D;
}