.create_element {
    transition: .5s;
    outline: none;
    cursor: pointer;
}

.create_element:hover {
    background: #FDCE5D;
    border-color: #0184F2;
}

.rectangle {
    width: 90px;
    height: 60px;
    background: #FFFFFF;
    border: 5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}

.circle {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border: 5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50%;
}

.image {
    width: 70px;
    height: 70px;
    background: #C4C4C4;
    border: none;
}

.text {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    font-size: 48px;
}

.create_dropdown
{
    display: none;
    flex-wrap: wrap;
    width: 246px;
    height: 215px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.create_dropdown li {
    width: 50%;
}

.create_dropdown li {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.create_dropdown li a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-decoration: none;
    height: 50%;
}

.create_dropdown li a button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color:#C4C4C4;
}

.create_dropdown li:hover a 
{
    color: 	#808080;
}

.plus {
    height: 36px;
    width: 36px;
    background: #02C28C;
    font-weight: 500;
    font-size: 24px;
}

.activeElement {
    display: flex;
    position: absolute;
}

.active_plus {
    background-color: #FDCE5D;
}