.shape_tools_panel {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.shape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0184F2;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 4px 0 0px;
}

.shape_button {
    display: flex;
    align-items: center;
    justify-content: center;
}