.shape_tools_panel {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.shape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0184F2;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 20px 0 0px;
    padding: 3px;
}

.shape:hover {
    background-color: #FDCE5D;
}

.borderWidth {
    display: flex;
    flex-direction: column;
    margin-bottom: -26px;
}

.dropDown {
    position: absolute;
    padding-top: 17px;
}

.active {
    display: block;
}

.hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 55px;
    height: 12px;
    background: none;
    left: 8px;
    outline: none;
    border: none;
}


.borderWidtSelect {
    display: none;
    position: relative;
    top: 25px;
    border: none;
    width: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 5px 0px;
}

.borderWidtSelect_active {
    display: block;
}